<?xml version="1.0" encoding="utf-8"?>

<!--
  ASP.NET 응용 프로그램을 구성하는 방법에 대한 자세한 내용을 보려면
  http://go.microsoft.com/fwlink/?LinkId=169433을 방문하십시오.
  -->

<configuration>
  <appSettings>
    <add key="SERVER_TYPE" value="LOCAL" />

    <!-- DAS (GA) -->
    <add key="BOQDAS_HOST_PAY" value="52D1B191BCFDCFABFCC77A69B8D6CFAD8C93BC8DD8D4767FEFF8BB16B72ABFE8" />
    <add key="BOQDAS_HOST_DEV" value="205F6F479FDDFB46709BBD728D957E9A8C93BC8DD8D4767FEFF8BB16B72ABFE8" />
    <add key="BOQDAS_HOST_QA" value="AC7570A34ABF36C57590188361633C338C93BC8DD8D4767FEFF8BB16B72ABFE8" />
    <add key="BOQDAS_HOST_REAL" value="BE3D309D1189AD58898F1D99087DB78E8C93BC8DD8D4767FEFF8BB16B72ABFE8" />

    <!-- -->
    <add key="BOQ_SHA256_REQ_KEY_PAY" value="12BF2E3F054DE11FE1DCECBD20835CEA" />
    <add key="BOQ_SHA256_REQ_KEY_DEV" value="12BF2E3F054DE11FE1DCECBD20835CEA" />
    <add key="BOQ_SHA256_REQ_KEY_QA" value="12BF2E3F054DE11FE1DCECBD20835CEA" />
    <add key="BOQ_SHA256_REQ_KEY_REAL" value="12BF2E3F054DE11FE1DCECBD20835CEA" />
    
    <!-- Mail -->
    <add key="BOQ_SMTP_SERVER_PAY" value="sysmail.payletter.com" />
    <add key="BOQ_SMTP_SERVER_DEV" value="webmail.gfz.corp" />
    <add key="BOQ_SMTP_SERVER_QA" value="webmail.gfz.corp" />
    <add key="BOQ_SMTP_SERVER_REAL" value="webmail.gfz.corp" />

    <add key="BOQ_SMTP_ID_PAY" value="" />
    <add key="BOQ_SMTP_ID_DEV" value="" />
    <add key="BOQ_SMTP_ID_QA" value="" />
    <add key="BOQ_SMTP_ID_REAL" value="" />

    <add key="BOQ_SMTP_PWD_PAY" value="" />
    <add key="BOQ_SMTP_PWD_DEV" value="" />
    <add key="BOQ_SMTP_PWD_QA" value="" />
    <add key="BOQ_SMTP_PWD_REAL" value="" />

    <add key="BOQ_ADMIN_EMAIL_PAY" value="tumyeong@payletter.com" />
    <add key="BOQ_ADMIN_EMAIL_DEV" value="tumyeong@payletter.com" />
    <add key="BOQ_ADMIN_EMAIL_QA" value="tumyeong@payletter.com" />
    <add key="BOQ_ADMIN_EMAIL_REAL" value="tumyeong@payletter.com" />

    <add key="BOQ_GFZ_EMAIL_PAY" value="" />
    <add key="BOQ_GFZ_EMAIL_DEV" value="" />
    <add key="BOQ_GFZ_EMAIL_QA" value="ducgu@golfzon.com" />
    <add key="BOQ_GFZ_EMAIL_REAL" value="ducgu@golfzon.com" />

    <!-- 메일 수신을 원하지 않는 에러 코드 정의 /-->
    <add key="BOQ_NOTSENDERRMAIL_LIST" value="9999, 9998" />

    </appSettings>
    <system.web>
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="Static" />
    <authentication mode="Windows" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" enableVersionHeader="false" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" from="">
                <network host="127.0.0.1" defaultCredentials="true" />
            </smtp>
        </mailSettings>
    </system.net>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Index.aspx" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering allowDoubleEscaping="true">
                <verbs>
                    <add verb="OPTIONS" allowed="false" />
                    <add verb="PUT" allowed="false" />
                    <add verb="DELETE" allowed="false" />
                    <add verb="PATCH" allowed="false" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
